#serviceBox{
    font-family: 'Roboto', sans-serif;    
    max-width: 1000px;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #4B9CD3;
    padding: 10px;
    background-color: #f6f6f6;
}

#myCard {
    width: auto;
    height: 520px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}

#serviceTitle {
    margin: 15px 0 15px 0;
    color: #4B9CD3;
    font-weight: bold;
    text-align: center;
}

#cardText {
    margin-top: 15px;
    text-align: center;
    color: #767676;
}

#serviceBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    width: 199px;
}

#cardTitle{
    margin: 25px 5px 0 5px;
    color: #4B9CD3;
    font-weight: bold;
    text-align: center;
}

.lowBtn1 {
    margin-top: 59px;
}

.lowBtn2 {
    margin-top: 83px;
}

.card-img-top{
    border: 1px solid #4B9CD3; 
    -webkit-filter: drop-shadow(5px 5px 5px #767676);
    filter: drop-shadow(5px 5px 5px #767676);
}

