#comBox{
    max-width: 1000px;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #4B9CD3;
    padding: 10px;
    font-family: 'Roboto', sans-serif;  
    background-color: #f6f6f6;   
}

#otherBtn{
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    #otherBtn {
        height: 25px;
        font-size: 10px;
    }
}

@media screen and (max-width: 414px) {
    #otherBtn {
        height: 25px;
        font-size: 12px;
    }
    li {
        font-size: 96%;
    }
}

@media screen and (max-width: 375px) {
    #otherBtn {
        position: relative;
        bottom: 5px;
    }
}