#loginContainer{
    font-family: 'Roboto', sans-serif;    
    max-width: 1000px;
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #4B9CD3;
    padding: 10px;
    background-color: #f6f6f6;
}

#loginBox{
    font-family: 'Roboto', sans-serif;    
    max-width: 300px;
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    background-color: white;
    color: #767676;
    -webkit-filter: drop-shadow(2px 2px 2px #767676);
    filter: drop-shadow(2px 2px 2px #767676);
}