#myNav{
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px #4B9CD3 solid;
    font-family: 'Roboto', sans-serif;
    max-width: 1000px;
}

.nav-link{
    color: #767676;
    font-weight: bold;
    font-size: 110%
}